.container{
    width: 1200px;
    margin: 0 auto;
}
.post-card{
    margin: 10px 0;
    border: 2px solid black;
    padding: 10px 20px;
}
.btn{
    float: right;
    height: 50px;
    width: 50px;
    margin: 5px;
}
.text-content{
    padding: 5px;
    font-size: 14pt;
}
.name{
    font-size: 16pt;

}
.nick{
    font-size: 16pt;
    margin-left: 10px;
    font-weight: bold;
}
.footer{
    color: brown;
    font-size: 12pt;
    font-weight: bold;
}
.add{
    position: absolute;
    top: 2%;
    left: 85%;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    letter-spacing: 3px;
    font-size: 15pt;
    background: brown;
    color: white;
}
.new-user {
    margin: 0 auto;
    display: none;
    width: 1140px;
    border: 2px solid black;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 30px;
}
.new-user__input {
    margin-top: 30px;
    border: none;
    outline: none;
    color: #333;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #0c5460;
}
.active{
    display: flex;
}
.blur{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(223, 223, 232, 0.7);
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}
.load-1 p{
    color: brown;
}