@font-face {
    font-family: 'Arimo';
    src: url("../font/Arimo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Arimo';
    src: url("../font/Arimo-Bold.ttf") format("truetype");
    font-weight : bold;
}
.background{
    background: #3a4965;
    height: 736px;
    width: 1192px;
    margin: 0 auto;
    color: #484848;
}
.conteiner{
    padding-left: 22px;
    padding-top: 24px;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
th,td {
    width: 277px;
    height: 69px;
    text-align: center;

}
.firstColum{
    width: 310px;
}
.backgroundWhite{
    background: #fafafa;
}
.backgroundSalad{
    background: #89c331;
    color: white;
}
.backgroundRed{
    background: #f04a56;
    color: white;
}
.backgroundGreen{
    background: #20807c;
    color: white;
}
.backgroundGrey{
    background: #e3e3e3 ;
}
tr.backgroundWhite > td{
    background: #fafafa;
}
tr.backgroundHearWhite > td{
    background: #f2f2f2;
}
tr.backgroundGrey > td{
    background: #e3e3e3 ;
}
.bgContactUs{
    background: #dddddd;
    height: 110px;
    line-height: 110px;
}
.bgFooter{
    background: #eeeeee;
    height: 110px;
    line-height: 110px;
}
.buttom{
    width: 192px;
    height: 49px;
    color: white;
    transition: all 1s;
    text-transform: uppercase;
    border-radius: 8px;
}
.bgButtomContactUS{
    background: #484848;
}
.textMediumSize{
    font-size: 14pt;
}
.textLargeSize{
    font-size: 20pt;
}
.textMediumPlusSize{
    font-size: 18pt;
}
.textMaxSize{
    font-size: 40pt;
    margin-top: -5px;
}
.textDefoltSize{
    font-size: 10pt;
}
.topLeftCorner{
    display: flex;
    height: 156px;
}
.centre{
    margin: auto;
}
.textCentreTop{
    line-height: 70px;
}
.textCentre{
    line-height: 69px;
}
.cost{
    display: flex;
    height: 86px;
}
.costCentre{
    margin: auto;
}
.floatCentre{
    float: left;
    text-align: left;
}
.bold{
    font-weight: bold;
}
.border{
    box-shadow: 2px 0 1px, -2px 0 1px silver;
}
i{
    color: #848484;
}
.buttom:hover{
    background: purple;
    font-size: 15pt;
}
.icon{
    font-size: 15pt;
}
.iconCircle{
    font-size: 16pt;
}
