.block-with-grey-bg{
  position : relative;
  background : rgba(0, 0, 0, 0.03);
  padding : 47px 10px;
}
.text-in-grey-block{
  width : 100%;
  color : #4E4E4E;
  display : flex;
  justify-content : space-between;
  text-transform : uppercase;
}
.text-in-grey-block_header{
  font-size : 16px;
  font-weight : bold;
}
.text-in-grey-block_link{
  font-size : 13px;
  font-weight : bold;
}
.img-in-grey-block{
  margin-top : 22px;
  display : grid;
  grid-column-gap : 15px;
  grid-template-columns : repeat(4, 1fr);
  & img{
    max-width : 100%;
    height : auto;
  }
}