.footer{
  background : black;
  color : white;
  padding-top : 30px;
  padding-bottom : 40px;
  padding-left: 10%;
  padding-right : 10%;
  display : flex;
  flex-direction : column;
  align-items : center;
  & .footer_text_content{
    font-size: 16px;
    max-width : 690px;
    text-align : center;
    line-height : 20px;
  }
  & .footer_header{
    font-size: 16px;
    text-transform : uppercase;
    line-height : 40px;
    max-width : 690px;
  }
  & .footer_block-with-icon i{
    font-size : 11px;
    margin: 20px 0;
    padding: 10px;
    border-radius : 100%;
  }
}
.fa-rss{
  color : orange;
  border : 2px solid orange;
}
.fa-facebook-f{
  color : #39599F;
  border : 2px solid #39599F;
}
.fa-tumblr{
  color : #45B0E3;
  border : 2px solid #45B0E3;
}
.fa-dribbble{
  color : #D97AB0;
  border : 2px solid #D97AB0;
}
.fa-pinterest-p{
  color : #CC212C;
  border : 2px solid #CC212C;
}
.footer_how-to-find-us{
  display: flex;
}