.header_button{
  display : none;
  margin-top : 12px;
  margin-bottom : 12px;
  margin-right : 6px;
  padding : 13px;
  position : relative;
  width : 18px;
  height : 11px;
  background : black;
  & .button_option{
    width : 17px;
    height : 2px;
    margin-bottom : 2px;
    background : white;
  }
}
.button_esc{
  display : none;
  position :relative;
  margin-top : 5px;
  margin-left : 2px;
  width : 17px;
  height : 2px;
  background : white;
  &.rotate-left{
    transform : rotate(45deg);
  }
  &.rotate-right{
    position : relative;
    bottom: 7px;
    transform : rotate(-45deg);
  }
}
.header{
  width : 100%;
  & .header_list{
    font-size : 12px;
    text-transform : uppercase;
    padding: 30px;
    color : #4E4E4E;
    display : flex;
    justify-content : space-around;
    & .header_link:hover{
      color : #4a9fa4;
    }
  }
}
.intro-img{
  max-height : 550px;
  & img{
    width : 100%;
    height : 100%;
  }
}