.resent-post{
  padding-top : 40px;
  padding-right : 10px;
  padding-left : 10px;
}
.resent-post_title{
  color : #4E4E4E;
  margin-bottom : 24px;
  font-size : 16px;
  font-weight : bold;
  text-transform : uppercase;
}
.box-content {
  display : flex;
  flex-wrap : wrap;
  justify-content : space-between;
}
.box-content_card{
  display : flex;
  margin-bottom : 32px;
  & .card_item{
    max-width : 370px;
    margin-left : 21px;
  }
  & .low-opacity{
    color : #7C7C7C;
    font-size : 12px;
    line-height: 30px;
  }
  & h2{
    font-weight : bold;
    font-size : 16px;
    color: #4E4E4E;
    line-height: 30px;
  }
  & p{
    line-height: 30px;
    font-size : 14px;
    color: #5C5C5C;
  }
}