body{
  display : flex;
  justify-content : center;
  flex-wrap : wrap;
  font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1200px;
}
@import "header";
@import "resent-post";
@import "block-with-grey-bg";
@import "footer";
@media (max-width: 1000px){
  .footer_how-to-find-us{
    flex-direction: column;
    align-items: center;
  }
  .img-in-grey-block{
    grid-template-columns : repeat(3, 1fr);
  }
  .img-in-grey-block_4{
    display : none
  }
}
@media (max-width: 600px){
  .footer_how-to-find-us{
    flex-direction: column;
    align-items: center;
  }
  .text-in-grey-block_link{
    display : none;
  }
  .footer_hide-p{
    display : none;
  }
  .img-in-grey-block{
    grid-template-columns : repeat(2, 1fr);
  }
  .img-in-grey-block_3{
    display : none
  }
}
@media (max-width: 550px){
  .footer_how-to-find-us{
    flex-direction: column;
    align-items: center;
  }
  .card_item-hidden{
    display: none;
  }
  .header_button{
    display: block;
  }
  .header{
    display : flex;
    justify-content : flex-end;
    & .header_list {
      width: 130px;
      padding : 0;
      top: 48px;
      right : 5px;
      font-size: 8pt;
      display : none;
      position : absolute;
      background : rgba(0, 0, 0, 0.03);
      z-index : 2;
      & li{
        border-bottom: 1px solid #868a8b;
        padding : 7px 10px;
        background: white;
        &:hover{
          background : #686c6d;
          & > .header_link{
            color : #4a9fa4;
          }
        }
      }
    }
  }
  .box-content_card{
   display : block;
    & .card_item{
      margin : 0;
    }
  }
  .img-in-grey-block{
    grid-template-columns : repeat(1, 1fr);
  }
  .img-in-grey-block_2{
    display : none;
  }
  .footer{
    & .footer_text_content{
      font-size : 12px;
    }
  }
}
