body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.workspase  {
    width: 1480px;
    height: 1282px;
    margin: 0 auto;
}
.conteiner{
    width: 1282px;
    height: 1191px;
    margin-left: 99px;
    margin-top: 61px;
}
a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 50pt;
}
.blue{
    color: #4bcaff;
}
.navmenu_top{
    width: 1280px;
    height: 69px;
    border: 1px solid #35444f;
    margin-top: 40px;
    background: #35444f;
    font-size: 19pt;
    color: white;
}
.navmenu_top > div{
    display: inline-block;
    height: 69px;
    line-height: 68px;
    margin-right: -0.25em;
}
.navmenu_top1{
    width: 492px;
}
.navmenu_top2{
    width: 170px;
}
.navmenu_top3{
    width: 260px;

}
.navmenu_top4{
    width: 358px;
}
.navmenu_top > div:hover{
    background: #222f3a;
}
.f1{
    margin-left: 203px;
}
.f2{
    margin-left: 41px;
}
.f3{
    margin-left: 20px;
}
.f4{
    margin-left: 25px;
}
.navmenu{
    margin-top: 51px;
    display: inline-block;
    vertical-align: top;
    width: 344px;
    height: 400px;
    border: 1px solid #35444f;
}
.navmenu_white{
    width: 344px;
    height: 80px;
    line-height: 80px;
    color: #485863;
    font-size: 20pt;
}
.navmenu_dark{
    width: 344px;
    height: 80px;
    line-height: 80px;
    color: white;
    font-size: 20pt;
    background: #485863;
}
.navmenu > div > span{
    margin-left: 44px;
}
.navmenu_dark:hover{
    background: white;
    padding-left: 20px;
    width: 324px;
    color: #3a4965;
}
.navmenu_white:hover{
    background: #dbdbdb;
    padding-left: 20px;
    width: 324px;
}
.content{
    display: inline-block;
    margin-left: 50px;
    margin-top: 51px;
}
.box{
    display: inline-block;
    width: 880px;
    height: 529px;
    border: 1px solid black;
}
.picture{
    width: 320px;
    height: 381px;
    border: 0px solid white;
    margin: 0 auto;
    margin-top: 74px;
    background-image: url("top-img@1X.png");
    transition: 1.5s;
}
.picture:hover{
    transform: scale(1.3);
}
.text{
    width: 820px;
    height: 253px;
    margin-top: 40px;

}
.first{
    width: 820px;
    height: 114px;
}
.second{
    width: 820px;
    height: 109px;
    margin-top: 30px;
}
p{
    font-size: 13.5pt;
}
.footer{
    width: 1280px;
    height: 69px;
    background: #b4b7ba;
    font-size: 20pt;
    margin-top: 51px;
}
.footer > div {
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
}
.footer >  div > span:hover {
    border-bottom: 1px solid #3181a6;
    color:  #3181a6;
    font-weight: 500;

}
button{
    position: absolute;
    top: 720px;
    left: 120px;
    border: 1px solid darkred;
    width: 344px;
    height: 40px;
}