body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.conteiner{
    width: 1280px;
    height: 1626px;
    margin: 0 auto;
}
.top{
    font-size: 16pt;
    color: #45b39d;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
}
.n1{
    margin-top: 32px;
    margin-left: 332px;
}
.n2{
    margin-left: 65px;
}
.n3{
    margin-left: 70px;
}
.n4{
    margin-left: 78px;
}
img{
    margin-top: 35px;
    display: block;
}
.backg{
    width: 1280px;
    height: 594px;
    background: #f5f6f7;
    padding-top: 56px ;
    letter-spacing: 1px;
}
h2{
    text-transform: uppercase;
    font-size: 18pt;
    margin-left: 380px;
    width: 621px;
    height: 17px;
}
p{
    font-size: 14.8pt;
    text-align: center;
}
.content{
    width: 1059px;
    height: 354px;
    margin-left: 113px;
    margin-top: 34px;
}
button{
    width: 192px;
    height: 51px;
    text-align: center;
    background: #16a085;
    color: #ffffff;
    font-size: 11pt;
    margin-left: 527px;
    margin-top: 19px;
    letter-spacing: 1px;
}
.bottom{
    width: 420px;
    height: 16px;
    margin-left: 768px;
    margin-top: 47px;
    font-size: 15pt;
    letter-spacing: 1px;
}