body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.background{
    background-image:url("../sprite/Ht4_rana-sawalha-364253-unsplash@1X.png") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.dark{
    height: 58px;
    background: rgba(0, 0, 0, 0.3);
}
.welcome{
    color: white;
}
.greenLink{
    color: #3cb878;
}
.linkLeftCorner{
    color: white;
    font-size: 15pt;
    font-weight: bold;
}
.linkLeftCorner:hover{
    color: #3cb878
}
.greenLink:hover{
    text-decoration: underline;
}
.conteinerHeader{
    width: 85vw;
    margin: 0 auto;
    padding-top: 18px;
}
.conteinerHeader::after {
    display: block;
    content: "";
    clear: both;
}
.leftCorner{
    float: left;
}
.rightCorner{
    font-size: 12pt;
    float: right;
}
.rightCorner > a{
    float: left;
}
.rightCorner > div{
    float: left;
}
.iconeFirst{
    margin-right: 28px;
    background: url('../sprite/Ht4_css_sprites.png') -106px -50px no-repeat;
    height: 19px;
    width: 19px;
}
.iconeSecond{
    margin-right: 28px;
    background: url('../sprite/Ht4_css_sprites.png') -10px -10px no-repeat;
    height: 20px;
    width: 28px;
}
.iconeThird{
    margin-right: 25px;
    background: url('../sprite/Ht4_css_sprites.png') -10px -50px no-repeat;
    height: 20px;
    width: 20px;
}
.verticalLine{
    width: 1px;
    height: 19px;
    background-color: white;
    margin-right: 24px;
}
.header::after{
    display: block;
    content: "";
    clear: both;
}
.iconeFirst:hover{
    background: url('../sprite/Ht4_css_sprites.png') -10px -90px no-repeat;
}
.iconeSecond:hover{
    background: url('../sprite/Ht4_css_sprites.png') -58px -10px no-repeat;
}
.iconeThird:hover{
    background: url('../sprite/Ht4_css_sprites.png') -50px -50px no-repeat;
}
.content{
    height: calc(100vh - 100px);
    overflow: hidden;
    max-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 28px));
    padding-top: 18px;
    background: white;
    padding-right: 60px;
    border-radius: 10px;
}
.greenSquare{
    position: absolute;
    left: -60px;
    width: 18px;
    height: 18px;
    background: #3cb878;
    margin-right: 42px;
}
.signUP{
    float: left;
    letter-spacing: 1.25px;
    font-size: 15pt;
}
.L::after {
    display: block;
    content: "";
    clear: both;
}
.buttom:after{
    display: block;
    content: "";
    clear: both;
}
.facebook, .google{
    float: left;
    display: block;
    border-radius: 5px;
    line-height: 46px;
    font-weight: bold;
    color: white;
}
.buttom{
    margin-top:20px;
}
.main{
    margin-left: 60px;
    margin-top: 15px;
    padding-bottom: 30px;
}
.facebook{
    background: #305db8;
}
.google{
    background: #df4a32;
    margin-left: 8px;
}
.capitalLetterF{
    float: left;
    font-size: 15pt;
    margin-left: 20px;
    margin-right: 17px;
}
.capitalLetterG{
    float: left;
    font-size: 15pt;
    margin-left: 13px;
    margin-right: 9px;
}
.verticalLineBlack{
    width: 1px;
    height: 28px;
    background-color: black;
    float: left;
    margin-top: 9px;
}
.facebook > .textInButtom{
    margin-left: 18px;
    margin-right: 17px;
    letter-spacing: 0.45px;
}
.google > .textInButtom{
    margin-left: 24px;
    margin-right: 30px;
    letter-spacing: 0.7px;
}
.textInButtom{
    font-size: 12pt;
    float: left;
}
.choice:after{
    display: block;
    content: "";
    clear: both;
}
.horizontalLine{
    margin-top: 41px;
    float: left;
    width: 136px;
    height: 1px;
    background: #eaeaea;
}
.or{
    margin-left: 17px;
    margin-right: 17px;
    float: left;
    font-size: 12pt;
    color:#848484;
    margin-top: 33px;
}
.input{
    opacity: 0.5;
    display: block;
    width: 282px;
    padding: 0 20px;
    margin-bottom: 9px;
    line-height: 46px;
    border-width: 0.5px;
    border-radius: 3px;
    box-shadow: none;
    transition: box-shadow 1s;
}
form{
    margin-top: 17px;
}
input[type="submit"] {
    margin-top: 28px;
    line-height: 46px;
    width: 322px;
    background: #329a65;
    color: white;
    border-width: 0.5px;
    border-radius: 3px;
}
.check{
    margin-top: 19px;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid black;

}
.fake::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url('../sprite/Ht4_css_sprites.png') -106px -10px;
    opacity: 0;
    transition: 1s;
}
.text{
    position: relative;
    top: -5px;
    font-size: 12pt;
}
.checkbox:checked + .fake::before {
    opacity: 1;
}
.input:focus{
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    opacity: 1;
}
.main{
    position: relative;
}