@keyframes scroll {
    0% { top: 100%; }
    100% { top: -100%; }
}
body{
    font-family: aria, sans-serif;
    color: orange;
    background-color: #000;
}
.conteiner{
    position: absolute;
    width: 75vw;
    height: 300vh;
    bottom: 0;
    left: 15%;
    font-weight: bold;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(15deg);
}
h1{
    text-align: center;
    font-size: 62pt;
}
p{
    font-size: 60pt;
    line-height: 80pt;
}
.text{
    position: absolute;
    animation: scroll 30s linear 0s infinite;
}
audio{
    position: absolute;
    width: 200px;
    height: 50px;
    transition: all 3s;
}
audio:hover{
    width: 400px;
}
/*audio:hover + .conteiner .text {
     animation-play-state: paused;
 }