@font-face {
    font-family: 'Arimo';
    src: url("../font/Arimo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Arimo';
    src: url("../font/Arimo-Bold.ttf") format("truetype");
    font-weight : bold;
}
html {
    overflow: hidden;
}
body{
    font-family: 'Arimo', sans-serif;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 180px;
}
.conteinerHeader{
    display: flex;
    background: #1d2124;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
.img{
    width: 14.3vw;
    max-width: 271px;
}
.textHeader{
    color: white;
    font-size: 9pt;
    text-transform: uppercase;
}
.Architect{
    font-size: 14pt;
    color: white;
}
.marginMainHeader{
    margin-right: 37px;
}
.secondIcon{
    width: 70px;
    height: 70px;
    background: #1a1d20;
    display: flex;
}
.secondIcon > img{
    margin: auto;
}
.topLeftCorner{
    display: flex;
    align-items: center;
}
.firstIcon{
    width: 70px;
    height: 70px;
    background: #1a1d20;
    display: flex;
}
.firstIcon > img {
    margin: auto;
}
.conteiner_loverThenHeader{
    position: relative;
    height: 404px;
    width: 100%;
    overflow: hidden;
}
.conteiner_loverThenHeader::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -200px;
    left: 0;
    z-index: -1;
    transform: translateZ(-100px) scale(2);
    background: url("../img/header.jpeg") center/cover no-repeat;
}
.loverThenHeader {
    margin: auto;
    color: white;
}
.secondline_loverThenHeader{
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
.firstline_loverThenHeader{
    font-size: 16pt;
}
.button{
    text-align: center;
    width: 170px;
    line-height: 55px;
    border-radius: 10px;
    font-size: 10pt;
    text-transform: uppercase;
}
.greenBackground{
    background: #89ca62;
    margin-right: 20px;
    border: #89ca62;
}
.blueBackground{
    background: #14b9d5;
    border: #14b9d5;
}
.darkBg{
    height: 100%;
    background: rgba(0,0,0, 0.25);
    display: flex;
    flex-wrap: wrap;
}
.conteiner_mainFlex{
    height: 1030px;
    display: flex;
    background: #f2f2f2;
}
.mainFlex{
    margin: auto;
}
.Colum{
    display: flex;
    flex-direction: column;
}
.conteinerColum{
    display: flex;
}
.firstColum, .secondColum{
    margin-right: 30px;
}
.name{
    text-align: center;
    text-transform: uppercase;
    font-size: 16pt;
    color: #18b4cf;
    font-weight: bold;
}
.firstLineColum{
    margin-bottom: 31px;
}
.underTheImg{
    font-weight: bold;
    margin-top: -3px;
    height: 61px;
    background: white;
    line-height: 61px;
    text-align: center;
    color: black;
    font-size: 12.5pt;
}
.conteiner_centreContent{
    height: 590px;
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
}
.conteiner_centreContent::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -200px;
    left: 0;
    z-index: -1;
    transform: translateZ(-100px) scale(2);
    background: url("../img/centre.jpeg") center/cover no-repeat;
}
.firstgridConteiner{
    margin: auto;
    text-transform: uppercase;
    width: 881px;
    display: grid;
    grid-template-rows: repeat((1fr 3));
    grid-template-columns: repeat((1fr 4));
    justify-items: center;
    align-items: center;
    grid-row-gap: 55px;
    grid-template-areas:
            "item1 item1 item1 item1"
            "item2 item2 item2 item2"
            "item3 item4 item5 item6"
}
.centeContent_firstline{
    grid-area: item1;
    color: white;
    font-size: 19pt;
}
.centeContent_secondline{
    grid-area: item2;
    width: 60px;
    height: 3px;
    background: #169cb4;
}
.centeContent_thirdline_1{
    grid-area: item3;
}
.centeContent_thirdline_2{
    grid-area: item4;
}
.centeContent_thirdline_3{
    grid-area: item5;
}
.centeContent_thirdline_4{
    grid-area: item6;
}
.mainGrid{
    margin-top: 63px;
}
.headGrid{
    display: grid;
    grid-row-gap: 52px;
    grid-template-rows: repeat((1fr 2));
    grid-template-columns: repeat((1fr 7));
    justify-items: center;
    grid-template-areas:
            "item1_1 item1_1 item1_1 item1_1 item1_1 item1_1 item1_1"
            "item1_2 item1_3 item1_4 item1_5 item1_6 item1_7 item1_8"

}
.topRated{
    grid-area: item1_1;
    color: #18b4cf;
    text-transform: uppercase;
    font-size: 16pt;
}
.hot_news{
    margin-top: 60px;
    margin-bottom: 51px;
    color: #18b4cf;
    text-transform: uppercase;
    font-size: 16pt;
    text-align: center;
}
.f1_img{
    grid-area: item1_2;
}
.f2_img{
    grid-area: item1_3;
}
.f3_img{
    grid-area: item1_4;
}
.f4_img{
    grid-area: item1_5;
}
.f5_img{
    grid-area: item1_6;
}
.f6_img{
    grid-area: item1_7;
}
.f7_img{
    grid-area: item1_8;
}
.mainContentGrid{
    display: grid;
    grid-row-gap: 42px;
    width: 1143px;
    margin: 0 auto;
    grid-column-gap: 35px;
    grid-template-rows: repeat((1fr 6));
    grid-template-columns: repeat((1fr 4));
    grid-template-areas:
            " t1 t1 t1 t2 "
            " t3 t3 t4 t4 "
            " t3 t3 t4 t4 "
            " t5 t5 t6 t6 "
            " t5 t5 t6 t6 "
            " t7 t8 t8 t8 "
}
.t1{
    grid-area: t1;
}
.t2{
    grid-area: t2;
}
.t3{
    grid-area: t3;
}
.t4{
    grid-area: t4;
}
.t5{
    grid-area: t5;
}
.t6{
    grid-area: t6;
}
.t7{
    grid-area: t7;
}
.t8{
    grid-area: t8;
}
.t1, .t8{
    display: grid;
    background: #f9f7f7;
    text-align: center;
    grid-template-columns: repeat((1fr 4));
    grid-template-areas:
            " t1_1 t1_1 t1_1 t1_2 "
}
.t1_2{
    padding-top: 41px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 12pt;
    line-height: 17px;
}
.boldGrid{
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 10px;
}
.forOneCell{
    margin-top: -3px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 14pt;
    background: #f9f7f7;
}
.forBigCell{
    margin-top: -3px;
    text-align: right;
    background: #f9f7f7;
    padding: 25px;
    font-size: 14pt;
}
.forBigCell_p{
    font-size: 12pt;
    line-height: 17px;
}
.footer{
    margin-top: 71px;
    height: 80px;
    background: #1d2124;
    display: grid;
    grid-template-columns: repeat((1fr 2));
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 9pt;
    grid-template-areas:
            " footer_text footer_img "
}
.mainFlex > .name{
    margin-bottom: 60px;
}
