.workspase{
    padding-top: 49px;
    margin: 0 auto;
    width: 1212px;
    height: 719px;
    background-image: url("../Img/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
.conteiner{
    width: 1065px;
    margin: 0 auto;
}
.logo {
    display: block;
    float: left;
    color: white;
}
.home{
    background: url("../Img/logo@1X.png");
    width: 46px;
    height: 44px;
    margin-right: 15px;
    float: left;
}
.content::after {
    display: block;
    content: "";
    clear: both;
}
.top::after {
    display: block;
    content: "";
    clear: both;
}
.text{
    font-weight: bold;
    float: left;
    letter-spacing: 1.2px;
}
.holiday{
    font-size: 13pt;
}
.milan{
    font-size: 22pt;
    line-height: 80%;
    margin-bottom: 5.8px;
}
.logo:hover .home{
    background: url("../Img/logo2.png");
}
.logo:hover .text{
    color: #f26522;
}
.phone_number{
    margin-top: 5px;
    float: right;
    color: white;
    font-size: 13.5pt;
    letter-spacing: 1px;
    text-align: right;
}
.content{
    margin-top: 44px;
}
.img{
    float: left;
    position: relative;
    display: block;
}
.picture{
    border: solid transparent;
    margin-bottom: 20px;
    -moz-border-image: -moz-linear-gradient(top, #fdfffd 0%, #000000 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #fdfffd 0%, #000000 100%);
    border-image: linear-gradient(to bottom, #fdfffd 0%, #000000 100%);
    border-image-slice: 1;
}
.first_img, .fourth_img{
    margin-right: 62px;
}
.second_img, .fifth_img{
    margin-right: 63px;
}
.fourth_img, .fifth_img, .sixth_img{
    margin-top: 55px;
}
.over{
    visibility: hidden;
    position: absolute;
    width: 312px;
    height: 1px;
    background: #f26522;
    opacity: 0;
    bottom: 38px;
    transition:all 1s ease-out;
}
.content > a:hover .over{
    visibility: visible;
    bottom: 38px;
    height: 63px;
    opacity: 1;
}
.content > a:hover .first_line{
    color: #f26522;
}
.content > a:hover .second_line{
    color: #f26522;
}
.price{
    position: absolute;
    display: inline-block;
    color: white;
    margin-left: 21px;
    margin-top: 16px;
    font-size: 9pt;
    text-align: left;
}
.money{
    font-size: 17pt;
    margin-top: -3px;
}
.info{
    color: white;
    display: inline-block;
    margin-left: 185px;
    margin-top: 33.5px;
    font-size: 11pt;

}
.info:after{
    content: "\203A";
    margin-left: 15px;
}
.footer{
    font-size: 8.5pt;
    text-align: center;
    margin-top: 58px;
    color: white;
    letter-spacing: 0.5px;
}
.mainContent{
    text-align: center;
    font-size: 13pt;
}