
.table{
    display: none;
    margin: 0 auto;
    width: 94vh;
    height: 94vh;
    border: 2px solid black;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.cell{
    border: 2px solid black;
}
.active{
    background: blue;
}
.one-point-to-PC{
    background: red;
}
.one-point-tp-User{
    background: green;
}
.result-table, .loadMenu{
    padding: 20px;
    width: 1200px;
    display: none;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    height: 500px;
    border: 2px solid black;
    left: calc(50vw - 600px);
    top: 10%;
    background: brown;
}
.loadMenu{
    display: flex;
}
.how-win{
    width: 100%;
    text-align: center;
    font-size: 45pt;
    color: white;
}
.scores{
    text-align: center;
    width: 45%;
    font-size: 30pt;
    color: white;
}
.restart{
    cursor: pointer;
    width: 600px;
    height: 100px;
    border-radius: 50px;
    background: aliceblue;
    color: black;
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 5px;
}
.start{
    cursor: pointer;
    width: 600px;
    height: 100px;
    border-radius: 50px;
    background: aliceblue;
    color: black;
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 5px;
}
.big-latter-start{
    width: 100%;
    text-align: center;
    font-size: 45pt;
    color: white;
}
.choice{
    cursor: pointer;
    font-weight: bold;
    font-size: 18pt;
    margin: 50px;
    width: 20%;
    height: 100px;
    border-radius: 50px;
}
.active-btn{
    background: seagreen;
    color: whitesmoke;
}
.btnSTEND:hover{
    background: seagreen;
    color: whitesmoke;
}